LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="lsv2..."
LANGCHAIN_PROJECT=""

# Groq API's
GROQ_API_KEY="gsk..."

# Hugging Face
HUGGINGFACE_API_KEY="hf..."


DATABASE_URL=""
